# Configuração do Supabase Self-Hosted na sua VPS (Com HTTPS via banco.goib.com.br)
VITE_SUPABASE_URL=https://banco.goib.com.br
VITE_SUPABASE_PUBLISHABLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoiYW5vbiIsImlzcyI6InN1cGFiYXNlIiwiaWF0IjoxNzkxMDU1Mzk4LCJleHAiOjE5NDg3MzUzOTh9.nAQCEyt0GxZ1VWY_U2dOQMbysmQxTBCWJJrclJ_I0Pw
